<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta content="The online musing of Brendon Murphy" name="description" />
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <link href="/css/pygment_trac.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <link rel="alternate" type="application/atom+xml" title="Brendon Murphy - Atom" href="http://feeds2.feedburner.com/techfreak" />
    <title>Brendon Murphy &ndash; {{ page.title }}</title>
  </head>
  <body>
    <header>
      <h1 id="title">
        <a href="/about.html" title="About">Brendon Murphy</a> writes <a href="/" title="Home">here</a>.
      </h1>
      <h2 id="subtitle">
        See also the <a href="/archive.html" title="Archive">archive</a> &amp;
        <a href="/links.html">links</a>.
      </h2>
    </header>
    <sidebar id="sidebar">
      
      <div id="sidebar-about" class="sidebar-item">
       <p>My experience runs from unix & linux system administration, to programming for the web.  I'm passionate about open source, and spend much of my time these days in Ruby.</p>
       
       <p>My passions include git, github, rspec, rails, jQuery, programming in general, and my girlfriend Arielle.</p>
       
       <p>I like to hang out with other Ruby-ists in Orange County.  You can connect with us at the monthly <a href="http://www.ocruby.org">OC Ruby Users Group</a>.  We'd love to see you there.</p>
      </div>

      <div id="working-with-rails" class="sidebar-item">
        WorkingWithRails is the online home of the world's community of Ruby on Rails users. Go <a href="http://workingwithrails.com/person/19061-brendon-murphy">check my profile there.</a>
      </div>
    
      <div class="sidebar-item" id="twitter">
        <a href="http://twitter.com/xternal" class="center">Follow me on Twitter</a>
        <div id="tweet">
         <p>Please wait while my tweets load <img src="/images/indicator.gif" /></p>
         <p><a href="http://twitter.com/xternal">If you can't wait - check out what I've been twittering</a></p>
        </div>
      </div>
      
    </sidebar>
    
    <div id="wrapper">
      {{ content }}
      <footer id="footer">
        <a href="/" title="Home">Home</a> &bull;
        <a href="/about.html" title="About the author and site">About</a> &bull;
        <a href="/archive.html" title="Archived writing">Archive</a> &bull;
        <a href="/links.html" title="Links">Links</a>
        
        <div id="cse" style="width: 100%;">Loading</div>
        <script src="http://www.google.com/jsapi" type="text/javascript"></script>
        <script type="text/javascript">
          google.load('search', '1', {language : 'en'});
          google.setOnLoadCallback(function() {
            var customSearchControl = new google.search.CustomSearchControl('003730570411629047560:hoyvw7xkswg');
            customSearchControl.setResultSetSize(google.search.Search.FILTERED_CSE_RESULTSET);
            customSearchControl.draw('cse');
          }, true);
        </script>
        <link rel="stylesheet" href="http://www.google.com/cse/style/look/minimalist.css" type="text/css" />
        <style>
          .gsc-control-cse { padding-left: 0px; }
          .gsc-control-cse a:link, .gsc-control-cse a:hover { color: #336699; }
        </style>
      </footer>
    </div>
    {% include analytics.html %}
    {% include twitter.html %}
    {% include disqus_comment_counts.html %}
  </body>
</html>