<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta content="The online musing of Brendon Murphy" name="description" />

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" type="text/css">
    <link href="/css/screen.css?v=3" media="screen, projection" rel="stylesheet" type="text/css" />
    <link href="/css/pygment_trac.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <link rel="alternate" type="application/atom+xml" title="Brendon Murphy - Atom" href="http://feeds.feedburner.com/techfreaknet" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <title>Brendon Murphy &ndash; {{ page.title }}</title>
  </head>
  <body>
    <div class="container">

      <nav class="two columns">
        {% if false %}
        <header>
          <h1>
            <a href="/"><span>Brendon Murphy</span>
              Techfreak.net</a>
          </h1>
        </header>
        {% endif %}

          <ul data-selected="{{page.url}}">
            <li><h3><a href="/">Blog</a></h3></li>
            <li><h3><a href="/archive.html">Archives</a></h3></li>
            <li><h3><a href="/about.html">About</a></h3></li>
            <li><h3><a href="http://feeds.feedburner.com/Techfreaknet" rel="alternate" type="application/rss+xml">Feed</a></h3></li>
            <li><h3><a href="http://github.com/bemurphy" rel="external">Github</a></h3></li>
            <li><h3><a href="http://twitter.com/xternal" rel="external">Twitter</a></h3></li>
          </ul>

          <script type="text/javascript">
            if ($('nav a[href="{{page.url}}"]').length) {
              $('nav a[href="{{page.url}}"]').closest('li').addClass("selected");
            } else {
              $('nav li').first().addClass("selected");
            }
          </script>
      </nav>

      <section id="content" class="thirteen columns offset-by-one">
        {{ content }}
      </section>

      {% include analytics.html %}
      {% include disqus_comment_counts.html %}
    </div>
  </body>
</html>
