---
layout: default
---
<div class="post">
  <h1>
    {{ page.title }}
  </h1>
  {{ content }}
  
  <p class="signoff">
    &mdash;{{ page.date | date: "%b %d, %Y" }}
  </p>
  
  <hr />
   <div id="disqus">
     <script>var disqus_developer = 1;</script>
     <div id="disqus_thread"></div><script type="text/javascript" src="http://disqus.com/forums/techfreak/embed.js"></script><noscript><a href="http://techfreak.disqus.com/?url=ref">View the discussion thread.</a></noscript><a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
   </div>
</div>

